{% extends 'base.html' %}

{% block title %}{{ order.order_number }}{% endblock %}

{% block content %}
    <h1>Order #{{ order.order_number }}</h1>
    <p>Order Date: {{ order.order_date }}</p>
    <p>Total Price: {{ order.total_price }}</p>
    <h2>Items in Order:</h2>
    <table>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        {% for item in order.items %}
            <tr>
                <td>{{ item.product_name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.price }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}